In [1]:
import pandas as pd
import numpy as np

In [2]:
import numpy as np
import pandas as pd  # 添加 Pandas 模块的导入

# 创建一个包含多个键值对的字典对象，每个键对应一个列表，模拟数据集
dict_obj = {
    'key1': ['a', 'b', 'a', 'b',  # 第一列的分类键
             'a', 'b', 'a', 'a'],
    'key2': ['one', 'one', 'two', 'three',  # 第二列的分类键
             'two', 'two', 'one', 'three'],
    'data1': np.random.randint(1, 10, 8),  # 第三列的数值数据，随机生成 1 到 9 的整数
    'data2': np.random.randint(1, 10, 8)   # 第四列的数值数据，随机生成 1 到 9 的整数
}

# 将字典对象转换为 Pandas 的 DataFrame 对象，便于数据操作
df_obj = pd.DataFrame(dict_obj)

# 打印生成的 DataFrame 对象，显示数据集内容
print(df_obj)

# 打印分割线以便与后续输出区分
print('-' * 50)

  key1   key2  data1  data2
0    a    one      8      2
1    b    one      8      8
2    a    two      1      1
3    b  three      6      7
4    a    two      4      2
5    b    two      5      3
6    a    one      8      9
7    a  three      5      2
--------------------------------------------------

In [3]:
df_obj.info()  # 打印 DataFrame 对象信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    8 non-null      object
 1   key2    8 non-null      object
 2   data1   8 non-null      int32
 3   data2   8 non-null      int32
dtypes: int32(2), object(2)
memory usage: 324.0+ bytes

In [4]:
# 按key1分组后，计算data1，data2的统计信息并附加到原始表格中，并添加表头前缀
k1_sum = df_obj.groupby('key1').mean(numeric_only=True).add_prefix('mean_')
print(k1_sum)

      mean_data1  mean_data2
key1
a       5.200000         3.2
b       6.333333         6.0

In [5]:
# 方法2，使用transform，分组后计算结果和原本的df保持一致
k1_sum_tf = df_obj.loc[:,['key1','data1', 'data2']].groupby('key1').transform('mean').add_prefix('mean_')
k1_sum_tf
# df_obj[k1_sum_tf.columns] = k1_sum_tf
# print(df_obj)

   mean_data1  mean_data2
0    5.200000         3.2
1    6.333333         6.0
2    5.200000         3.2
3    6.333333         6.0
4    5.200000         3.2
5    6.333333         6.0
6    5.200000         3.2
7    5.200000         3.2

In [6]:
del df_obj['key2']

In [8]:
df_obj.groupby('key1').transform('mean')

      data1  data2
0  5.200000    3.2
1  6.333333    6.0
2  5.200000    3.2
3  6.333333    6.0
4  5.200000    3.2
5  6.333333    6.0
6  5.200000    3.2
7  5.200000    3.2

In [9]:
#实现a组和b组，谁比平均分高，谁比平均分低
def diff_mean(s):
    """
        返回数据与均值的差值，s传入的是某一个分组
    """
    return s - s.mean()

print(df_obj.groupby('key1').transform(diff_mean))

      data1  data2
0  2.800000   -1.2
1  1.666667    2.0
2 -4.200000   -2.2
3 -0.333333    1.0
4 -1.200000   -1.2
5 -1.333333   -3.0
6  2.800000    5.8
7 -0.200000   -1.2